NEXT_PUBLIC_SOLANA_RPC_URL = "https://api.devnet.solana.com/"
NEXT_PUBLIC_ROLLUP_PROGRAM = "CmobH2vR6aUtQ8x4xd1LYNiH6k2G7PFT5StTgWqvy2VU"

NEXT_PUBLIC_L2_CHAIN_ID = "1001"
NEXT_PUBLIC_L2_CHAIN_NAME = "Local Rome L2"
NEXT_PUBLIC_L2_CHAIN_RPC_URL = "https://localhost"